/* CSS Styling Reset */
body,p,a,ul,li {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;   
}

/* Variables */

/** Header styles **/
.hero { 
  background-image: url('assets/background.png');
  background-repeat: no-repeat;
  background-size: cover;
} 

/* Center the logo */
header .container {
  display: flex;
  border: 1px solid blue;
  align-items: center;
  justify-content: space-between;
}

/* Style the navigation links */
nav {
  display: flex;
}

nav a {
  margin-left: 10px;
  text-decoration: none;
  color: #333;
}

/* Center the main content */
main {
  display: flex;
  justify-content: center;
  border: 2px solid blue;
  border-radius: 5px;
  padding: 10px;
}

main section div.text {
  max-width: 80%;
  margin: 0 auto;
}

section {
  text-align: center;
}

/* Style the paragraphs and button */
.text p {
  margin-bottom: 10px;
}

button {
  margin-bottom: 20px;
}

@media screen and (max-width: 480px){ 
  .wrapper { 
    inline-size: 400px; 
  }} 
